.underline {
  position: relative;
  padding-bottom: 2px;
  text-decoration: none;
}
.underline::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 2px;
  width: 100%;
  background: rgb(218, 68, 83);
  background: linear-gradient(to right, rgb(218, 68, 83), rgb(137, 33, 107));
  border-radius: 50%;
}

canvas {
  display: block;
}

.text-on {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
	color: white;
	max-width: 90%;
	padding: 2em 3em;
	background: rgba(255, 255, 255, 0.2);
}

.name {
  background: linear-gradient(to top, rgb(218, 68, 83), rgb(137, 33, 107));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  font-size: 72px;
}

.border-all {
    border: 1px solid transparent;
    border-image: linear-gradient(to top, rgb(218, 68, 83), rgb(137, 33, 107));
    border-image-slice: 1;
    transform: rotate(45deg);
    padding: 10px;
}

.github-corner:hover .octo-arm{
  animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave{
  0%,100%{transform:rotate(0)}
  20%,60%{transform:rotate(-25deg)}
  40%,80%{transform:rotate(10deg)}
}
@media (max-width:500px){
  .github-corner:hover .octo-arm{animation:none}
  .github-corner .octo-arm{animation: octocat-wave 560ms ease-in-out}
}